body {
	background: #fefefe;
	color: #505050;
	padding: 50px;
	font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 16pt;
}

header {
	float: left;
	width: 400px;
	height: 100%;
}

header h1 {
	font-size: 22pt;
	margin: 0;
	text-align: center;
}

header address {
	float: left;
	margin: 0 0 0 20px;
}

header address ul, header address span {
	text-align: center;
}

header address > span {
	display: block;
}

header address span[itemprop='email'] {
	font-size: 18pt;
	color: #999;
}

header address span, header address a {
	font-size: 14pt;
}

header address #at:before {
	content: '@o';
	font-size: 18pt;
	color: #999;
}

header > div {
	clear: both;
	padding-top: 25px;
	font-size: 80%;
	text-align: justify;
	letter-spacing: 0.5px;
}

header > div > p {
	clear: both;
}

header figure {
	float: left;
	margin: 0;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: url('../img/jan.jpg') no-repeat;
	background-position: -25px -8px;
	background-size: 150%;
}

header figure img {
	opacity: 0;
	width: 100px;
	height: 100px;
}

main {
	float: left;
	width: 600px;
	margin: 0 0 50px 75px;
}

section {
	transition: all 0.5s ease;    
}

section > h1 {
	margin: 15px 0 30px 0;
	font-size: 200%;
	font-weight: lighter;
	border-bottom: 2px solid darkred;
}

section > h1:first-child {
	margin: 0 0 15px 0;
}

article {
	margin: 20px 0;
}

article h2 {
	margin: 15px 0 0 0;
	font-size: 90%;
	font-weight: bold;
}

article small {
	margin: 0;
	font-size: 75%;
}

article abbr {
	cursor: help;
	text-decoration: none;
	border-bottom: 1px dashed #999;
}

article p {
	margin: 10px 0 0 0;
	font-size: 80%;
}

footer {
	clear: both;
	text-align: center;
	font-size: 10pt;
	font-family: monospace;
}

a, a:visited, a:active {
	color: darkred;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

li a {
	font-weight: bold;
}

cite {
	font-style: normal;
}

cite:before {
	content: open-quote;
}

cite:after {
	content: close-quote;
}

article p code {
	font-size: 85%;
}

article code {
	font-size: 65%;
}

code:before {
	content: '[';
}

code:after {
	content: ']';
}

span[property='dateCreated']:before {
	content: '(';
}

span[property='dateCreated']:after {
	content: ')';
}

*[lang='de'] h2:after, a[lang='de']:after {
	content: '\00a0[de]';
	color: grey;
	font-size: 80%;
}

ul {
	margin: 5px 0 0 0;
	padding: 0;
	font-style: normal;
	font-size: 80%;
}

ul li {
	margin: 0 5px 0 0;
	display: inline-block;
}

ul li + li:before {
	content: '• ';
	margin: 0 5px 0 0;
}

@media (max-width: 1200px) {
	body {
		margin: auto;
		font-size: 20pt;
		width: 80%;
		}
	header, main {
		width: 100%;
		margin-left: 0;
		letter-spacing: unset;
	}
	header > div {
		letter-spacing: unset;
	}

	header address span[itemprop='email']:before {
		content: '<';
	}
	header address span[itemprop='email']:after {
		content: '>';
	}
	header address a {
		font-size: 18pt;
		font-weight: normal;
	}
	main {
		margin: 30px 0;
	}
	article h2 {
		margin-top: 50px;
	}
	footer {
		border-top: 1px solid grey;
		padding-top: 25px;
	}
	footer, footer small {
		clear: both;
		text-align: center;
		font-size: 14pt;
		font-family: monospace;
	}
}

@media (max-width: 600px) {
	header {
		text-align: center;
	}
	header address {
		clear: both;
		float: none;
		margin: 50px auto;
	}
	header figure {
		float: none;
		margin: auto;
		width: 200px;
		height: 200px;
		border-radius: 100px;
		background: url('../img/jan.jpg') no-repeat;
		background-position: -1px -2px;
		background-size: 100%;
	}
	main ul li {
		margin: 10px 0px 0 0;
		display: list-item;
	}
	main ul li + li:before {
		content: unset;
	}
}